<!DOCTYPE html>
<html>
  <head>
    <title>Demo : Chat-bot for civil petition</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gonet, Speech Recognition, VUI, chatbot" />

    <link rel="stylesheet" type="text/css" href="/static/user/css/chatbot.css" />
  </head>

<body>

    <h1>Demo for VUI </h1>
    <h2>Chat-bot for civil petition </h2>
    <h5>챗봇을 통해 간단한 민원 서비스를 답변해드립니다. 원하시는 지역을 선택해주세요.</h5>

    <div class="card">
  		<ul class="container">
  			<li><a href="./sejong"><dic><img src="/static/user/images/sejong.jpg" alt="세종특별자치시"/><h4>세종특별자치시</h4><p>세종특별자치시는 대한민국 중앙부에 있는 특별자치시이다. 시의 중심으로 금강과 미호천이 흐른다. 옛 충청남도 연기군 전체와 공주시 일부, 충청북도 청원군 일부를 편입하여 2012년 7월 1일에 출범하였다.</p></div></a></li>
  			<a href="./chunan"><li><img src="/static/user/images/chunan.jpg" alt="천안시"/><h4>천안시</h4><p>공주시는 대한민국 충청남도 중앙부에 있는 시이다. 시의 중앙으로 금강이 흐른다. 공주의 공산성과 송산리 고분군 등 백제역사유적지구가 유네스코 세계문화유산으로 등재되었다. 매년 10월 백제문화제를 개최한다.</p></li></a>
  			<li><a href="./gongju"><img src="/static/user/images/gongju.jpg" alt="공주시"/><h4>공주시</h4><p>천안시는 대한민국 충청남도 동북부 내륙에 있는 시이다. 경부고속도로, 경부선, 장항선 철도가 지나며 수도권 전철이 운행된다. 행정구역은 2구 4읍 8면 18행정동이고, 시청 소재지는 불당동이다.</p></a></li>
  		</ul>
  	</div>

</body>
</html>
